@font-face {
    font-family: 'Opun-Regular.ttf';
    src: url('../fonts/Opun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Opun-Regular.ttf';
    background-color: white;
}

.navbar {
    background-color: #575757;
    font-weight: bold;
    font-size: 18px;
}

.navbar a {
    color: #FFA200;
    margin-top: -6px;
}

nav ul li a {
    font-size: 14px !important;
    text-decoration: underline;
}

#margin {
    margin-top: 10px;
    margin-left: 30px;
}

ul#menu li {
    display: inline;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #575757;
}

ul#menu li a {
    color: #575757;
}

ul#menu li a:hover {
    color: #FFA200;
    text-decoration: none;
}

ul#label li {
    display: inline;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #575757;
}

#hline {
    color: #FFA200 !important;
}

div a {
    color: #FFA200;
    font-size: 14px;
}

div a:hover {
    color: black;
    text-decoration: none;
}

#bgblack {
    background-color: rgb(255, 94, 0);
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: black !important;
}

.nav-item {
    margin-top: 10px !important;
}

.row {
    padding-top: 10px;
}

.fas {
    padding-right: 5px;
    margin-right: 5px;
}

span.c {
    display: block;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

input::-webkit-input-placeholder {
    font-size: 11px;
}